.listing {
    display: flex;
    flex-direction: column;
    gap: 150px;
}
.shopproducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* height: 90vh; */
    padding: 50px;
}

.shopproducts h1{
    color:#2a6f84;
    font-size: 32px;
    font-weight: 600;
}

.shopproducts hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.shopproducts-items {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    justify-content: center;
    gap: 80px;
    /* padding: 40px 60px; */
}